* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gabarito', sans-serif;
  background: #181f23;
  color: rgb(240, 237, 237);
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
  padding: 0.3rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(240, 237, 237);
}

h1 {
  font-size: 2.5rem;
  font-family: 'Courier New', sans-serif;
  font-weight: 900;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.focus {
  font-weight: 900;
  /* text-shadow: rgb(163, 164, 182) 2px 1px; */
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}


.t-align-center {
  text-align: center;
}

.cards-span {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}



/* Header & footer */

header {
  border-bottom: 1px solid rgb(112, 128, 156);
  background-color: #eaf7ff;
}

header input,
header form button {
  display: none !important;
}

header div {
  flex-direction: row-reverse;
}

.btn-navbar {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30%;
}

header div a img {
  height: 55px;
  width: 55px;
}

header nav {
  max-width: 100%;
}

.footer-div {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: dense;
  background-color: rgba(133, 133, 133, 0.767);
  padding: 1rem;
  text-align: center;
  grid-gap: 2rem;
}

footer img {
  height: 55px;
}

footer div p {
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

.parrafo-footer {
  color: #181f23;
}

.socials-footer {
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
}

.socials-footer a {
  padding: 1.5rem;
  gap: 0.5rem;
}

.socials-footer a:hover {
  filter: invert(100%);
}

/* btn searchbar */

.btn-searchbar {
  background-image: url(../img/lupa.png);
  background-size: cover;
  padding: 1.2rem;
  border: none;
  margin-left: 0.3rem;
}

.btn-searchbar:hover {
  background-color: transparent;
  opacity: 50%;
  transform: scale(110%);
}

.margin-left-searchbar {
  margin-left: 11rem;
}

/* container para items en bloque */

.containerb {
  max-width: 1200px;
  margin: 0 auto;
}

/* //////// INDEX.HTML //////// */

/* titulo del index.html */
.titulo-h1 {
  background-image: url(../img/womantitle2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 18rem;
  padding: 1.7rem;
  background-color: rgba(77, 74, 74, 0.164);
  margin-bottom: 1.5rem;
}

/* seccion main del index.html */

.index-section-2 {
  background-color: #0f0f0f;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.coleccion-2023-index {
  text-align: center;
}

.coleccion-2023-index img {
  height: 15rem;
  width: 12rem;
  border: 1px solid white;
  border-radius: 5px;
}

.coleccion-2023-index p {
  border: 1px rgba(255, 255, 255, 0.452) solid;
  border-radius: 5px;
  padding: 0.2rem;
  border-top: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.coleccion-2023-index p:hover {
  filter: brightness(150%);
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
}


/* media queries */

@media (min-width: 768px) {

  /* header */

  header div {
    flex-direction: row;
  }

  .items-navbar {
    color: #0b0f11;
    margin: 1rem;
  }

  .items-navbar:hover {
    background: #eee;
    color: black;
    border-radius: 25px;
  }

  /* main del index */

  .index-section-1 {
    display: flex;
  }

  .div-index-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
    margin: 1rem;
  }

  .imagen-section-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }

  .imagen-section-1 p {
    text-align: center;
    font-size: 1.1rem;
  }


  /* section del iframe en el index*/

  .index-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181f23;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .index-section-2 iframe {
    margin-bottom: 1rem;
  }

  /* section de la collecion 2023 del index */

  .coleccion-2023-index {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

  .h2-col-2023 {
    grid-column: span 3;
  }

  .index-col-sombrero {
    grid-column: 1;
    grid-row: 2;
  }

  .index-col-carteras {
    grid-column: 2;
    grid-row: 2;
  }

  .index-col-ropa {
    grid-column: 3;
    grid-row: 2;
  }

  .coleccion-2023-index div p:hover {
    filter: brightness(150%);
  }

  /* footer */

  .footer-div {
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    overflow: hidden;
  }

  .logo-footer {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }

  .parrafo-footer {
    grid-row: 1;
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  .socials-footer {
    grid-column: 3;
    grid-row: 1;
  }

  .socials-footer svg {
    width: 24px;
    height: 24px;
  }

}

@media (min-width: 1200px) {

  .titulo-h1 {
    background-position: top;
  }

  h1 {
    font-size: 4rem;
  }

}

/* /////// Catálogo.html //////// */

.catalogo-main img {
  max-width: 60%;
  max-height: 600px;
  filter: brightness(90%);
  border-radius: 10px;
  padding: 0.2rem;
  border: 1px solid white;
}

.catalogo-main span {
  border: 1px rgba(255, 255, 255, 0.452) solid;
  border-radius: 5px;
  padding: 0.2rem;
  border-top: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.catalogo-main span:hover {
  filter: brightness(150%);
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
}

.catalogo-main img:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.catalogo-main h3 {
  margin-bottom: 1.1rem;
}

.catalogo-gyc-vestidos,
.catalogo-gorros-y-carteras,
.catalogo-h2,
.lo-mas-vendido,
.compra-por-genero {
  margin-bottom: 3.5rem;
}

.lo-mas-vendido,
.catalogo-gorros-y-carteras,
.catalogo-gyc-vestidos {
  border-bottom: 1px white solid;
}

/* media queries del catalogo.html */

@media (min-width: 768px) {


  .lo-mas-vendido div,
  .compra-por-genero div {
    display: flex;
    justify-content: space-evenly;
  }

  .catalogo-gorros-y-carteras,
  .catalogo-vestidos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .catalogo-main img {
    min-height: 350px;
    max-width: 200px;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  .div-gorros-y-carteras {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-evenly;
  }



}

@media (min-width: 1200px) {

  .lo-mas-vendido div {
    justify-content: space-around;
  }

  .lo-mas-vendido img {
    margin: 0;
  }

  .catalogo-gyc-vestidos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalogo-gorros-y-carteras,
  .catalogo-vestidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}

/* /////// NOVEDADES.HTML /////// */

.main-novedades {
  text-align: center;
}

.main-novedades img {
  width: 100%;
}

.novedades1,
.lo-nuevo,
.novedades-col-v-2023,
.ultimas-novedades {
  margin-bottom: 2.5rem;
}

.main-novedades h3 {
  font-weight: 600;
  text-shadow: 1px 1px #eeeeee79;
}

.novedades1 {
  background-image: url(../img/womanhorizontal.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 70% 50%;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  font-family: 'Courier New', sans-serif;
}

.novedades1-h2 {
  font-weight: 900;
  font-size: 3.5em;
  color: #eaf7ff;
}

.novedades-undertitle {
  font-weight: 600;
  font-style: italic;
  line-height: 0;
}

/* seccion collection 2023 */

.lo-nuevo {
  padding: 1rem;
}

.novedades-col-v-2023 img,
.lo-nuevo iframe {
  border-radius: 10px;
  border: white 1px solid;
  padding: 0.2rem;
}

/* seccion collection 2024 */

.lo-nuevo span {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

/* seccion formulario */

.ultimas-novedades {
  text-align: start;
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.subscribite-btn {
  display: inline-block;
  border: 1px white solid;
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.subscribite-btn:hover {
  filter: brightness(200%);
  transform: scale(103%);
  border-radius: 5px;
}


/* media queries de novedades.html */

@media (min-width: 768px) {

  .lo-nuevo {
    padding: 1rem;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .ultimas-novedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    border: #eee solid 1px;
    text-align: start;
    margin: 2rem auto;
    border-radius: 10px;
  }



}

@media (min-width: 1200px) {

  .lo-nuevo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    max-width: 1200px;
  }

  .novedades-col-v-2023 img {
    width: 645px;
    height: 400px;
  }

  .iframe-span {
    line-height: 0.4rem;
  }

  .lo-nuevo span {
    padding: 0.3rem;
  }


}

/* ///// CONTACTO.HTML ///// */

.contacto-title {
  background-image: url(../img/lugar2.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  padding: 25px;
  font-family: 'Courier New', sans-serif;
  color: #eee;
}

.contacto-title h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 2rem 0;
}

/* main de contacto.html */

.socials-contacto ul li a:hover {
  filter: brightness(200%);
}

.main-contacto h3 {
  text-align: center;
}

.main-contacto ul {
  margin-bottom: 0;
  padding-left: 0;
}

.seccion-1-contacto,
.socials-contacto {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contacto-title,
.formulario-contacto,
.seccion-1-contacto,
.socials-contacto,
.comunicate-cn,
.encontranos {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.socials-contacto,
.formulario-contacto,
.comunicate-cn {
  border: #eee solid 1px;
}

.encontranos span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {

  .encontranos iframe {
    display: flex;
    margin: 0 auto;
  }

}

@media (min-width: 1200px) {

  .socials-contacto,
  .formulario-contacto,
  .comunicate-cn {
    border: none;
  }

  .main-contacto h3 {
    text-align: start;
  }

  .seccion-1-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
  }

  .encontranos h3 {
    text-align: center;
  }

  .seccion-1-contacto,
  .encontranos {
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
  }
}

/* ////// NOSTROS.HTML ////// */

.nosotros-title {
  background-image: url(../img/lugar5.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 31% 50%;
  text-align: center;
  width: 100%;
  padding: 3.5rem 0;
  font-family: 'Courier New', sans-serif;
  color: #eee;
}

/* main de nosotros.html */

.ropa-a-mano {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.ropa-a-mano img {
  max-height: 600px;
  max-width: 100%;
  border: #eee 1px solid;
  border-radius: 5px;
  padding: 0.1rem;
}

.main-nosotros h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.main-nosotros h3 {
  text-align: center;
}

.main-nosotros span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.nosotros-title,
.texto-ropa-a-mano,
.como-empezo,
.nosotros-descubre-mas,
.haciendo-la-ropa {
  margin-bottom: 2.5rem;
  padding: 0.5rem;
}

.nosotros-descubre-mas div {
  margin-bottom: 1.5rem;
  text-align: center;
  border: #eee 1px solid;
  border-radius: 10px;
  border-top: none;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 400px;
}

.div-nosotros {
  line-height: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.div-nosotros a strong {
  display: inline-block;
  color: rgb(213, 255, 96);
}

.div-nosotros a strong:hover {
  filter: brightness(95%);
  transform: scale(1.1);
}

@media (min-width: 768px) {

  .nosotros-title h2 {
    margin: 1.5rem auto;
  }

  .ropa-a-mano {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    line-height: 1.6rem;
    margin: 0 auto;
  }

  .div-ropa-a-mano {
    max-width: 31%;
  }

  .div-ropa-a-mano img {
    max-width: 100%;
    max-height: 100%;
  }

  .texto-ropa-a-mano p {
    font-size: 0.9rem;
  }

  .como-empezo iframe {
    display: flex;
    margin: 0.5rem auto;
  }

  .nosotros-descubre-mas img {
    max-height: 360px;
  }

  .nosotros-descubre-mas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .nosotros-descubre-mas :nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }

  .nosotros-descubre-mas :nth-child(n) {
    margin: 0.2rem auto;
  }

  .haciendo-la-ropa iframe {
    display: flex;
    margin: 1rem auto;
  }
}

@media (min-width: 1200px) {

  .nosotros-title h2 {
    margin: 2.7rem auto;
  }

  .div-ropa-a-mano {
    max-width: 21%;
  }

  /* iframe de google maps section */

  .como-empezo {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    margin: 6rem auto;
    background-color: #1c2227;
  }

  .como-empezo :nth-child(odd) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .como-empezo :nth-child(1) {
    align-items: start;
    font-size: 3rem;
  }

  /* descubre mas sobre nosotros last section */

  .descubrir-mas {
    display: flex;
    flex-direction: column;
    border: white 1px solid;
    border-top: none;
    margin-bottom: 3rem;
  }

  .nosotros-descubre-mas {
    display: flex;
  }

  .nosotros-descubre-mas div {
    border: none;
  }

  .descubrir-mas img {
    border-radius: 10px;
  }
}