* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gabarito', sans-serif;
  background: #181f23;
  color: rgb(240, 237, 237);
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
  padding: 0.3rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(240, 237, 237);
}

h1 {
  font-size: 2.1rem;
  font-family: 'Courier New', sans-serif;
  font-weight: 900;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.focus {
  font-weight: 900;
  /* text-shadow: rgb(163, 164, 182) 2px 1px; */
}



/* Header & footer */

header {
  border-bottom: 1px solid rgb(112, 128, 156);
  background-color: #eaf7ff;
}

header input,
header form button {
  display: none !important;
}

header div {
  flex-direction: row-reverse;
}

.btn-navbar {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30%;
}

header div a img {
  height: 55px;
  width: 55px;
}

header nav {
  max-width: 100%;
}

.items-navbar {
  color: #0b0f11;
  margin: 1rem;
}

.items-navbar:hover {
  background: #eee;
  color: black;
  border-radius: 25px;
}

footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: dense;
  background-color: rgba(133, 133, 133, 0.767);
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-gap: 2rem;
}

footer img {
  height: 55px;
}

footer div p {
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

.socials-footer {
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
}

.socials-footer a {
  padding: 1.5rem;
  gap: 0.5rem;
}

.socials-footer a:hover {
  filter: invert(100%);
}

/* btn searchbar */

.btn-searchbar {
  background-image: url(../img/lupa.png);
  background-size: cover;
  padding: 1.2rem;
  border: none;
  margin-left: 0.3rem;
}

.btn-searchbar:hover {
  background-color: transparent;
  opacity: 50%;
  transform: scale(110%);
}

.margin-left-searchbar {
  margin-left: 11rem;
}

/* container para items en bloque */

.containerb {
  max-width: 1200px;
  margin: 0 auto;
  /* 0 es vertical, automatico en horizontal para que quede en el medio de la pantalla */
}


/* titulo del index.html */
.titulo-h1 {
  background-image: url(../img/womantitle2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 18rem;
  padding: 1.7rem;
  background-color: rgba(77, 74, 74, 0.164);
}

/* seccion main del index.html */

.index-section-2 {
  background-color: #0f0f0f;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
}

.coleccion-2023-index {
  text-align: center;
}

.imgs-coleccion-2023-index img {
  height: 15rem;
  width: 12rem;
  border: 1px solid white;
  border-radius: 5px;
}


/* media queries */

@media (min-width: 768px) {

  header div {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {}