* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: 'DotGothic16', sans-serif;
  background: #181f23;
  color: rgb(240, 237, 237);
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
  padding: 0.3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(240, 237, 237);
}

.focus {
  font-weight: 800;
  /* text-shadow: rgb(163, 164, 182) 2px 1px; */
}


/* Header & footer */

header,
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header {
  border-bottom: 2px solid gray;
  border-top: 1px solid gray;
  background-color: #eaf7ff;
  position: sticky;
  top: 0;

}

footer {

  background-color: rgba(133, 133, 133, 0.767);
  padding: 1rem;
  align-items: center;

}

header nav {
  width: 70%;
  font-size: 1.85rem;
  display: flex;
  justify-content: center;
}

header nav ul {
  padding: 0.7rem;
  margin: 0.5rem;
  display: flex;
  height: 3rem;
}

header nav ul li {
  align-self: center;
  gap: 1rem;
  padding: 0.7rem;
  cursor: pointer;

}

header nav ul li:hover {
  background: #eee;
  color: black;
  border-radius: 30%;
}

header nav ul li a {
  color: black;
}

.logo-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 0.65rem;
}

.lupa-carrito-header {
  display: flex;
}

.lupa-carrito-header img {
  margin: 2rem;
}

header img {
  display: flex;
  align-self: center;
  height: 2.2rem;
  width: 2.2rem;
  cursor: pointer;
}

.logo-header {
  height: 5rem;
  width: 5rem;
}

.header-search-bar {
  display: flex;

}

.lupa-input-header {
  border: 1px solid #917c7c;
  outline: none;
  height: 2rem;
  align-self: center;
  display: none;

}

.menu-desplegable {
  display: flex;
  padding-left: 3%;
}

.socials-footer a {
  padding: 1rem;
}

.socials-footer a:hover {
  filter: invert(100%);
}

.socials-contacto a:hover {
  opacity: 80%;
}