.titulo-h1 {
  background-image: url(../img/womantitle2.jpg);
  background-position: 50% 50%;
  margin-bottom: 1.5rem;
  @include header-img();

  & h1 {
    font-size: 2.5rem;
    font-family: $ff-couriernew;
    font-weight: 900;
    text-align: center;
  }

  @include mq-xl {

    background-position: 20% 20%;

    & h1 {
      font-size: 3.6rem;
    }
  }
}

.index-section-1 {

  @include mq-md {
    display: flex;

    &-div {
      @include flex-column();
      justify-content: center;
      align-items: center;
      line-height: 1.2rem;
      margin: 1rem;
    }

    &-img {
      @include flex-column();
      padding: 1rem;
      justify-content: center;

      & p {
        text-align: center;
        font-size: 1.1rem;
      }
    }
  }
}

.index-section-2 {
  background-color: #0f0f0f;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);

  @include mq-md {
    @include flex-column();
    align-items: center;
    background-color: $main-bg-color;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

    & iframe {
      margin-bottom: 1rem;
    }
  }
}

.index-col {

  text-align: center;

  & img {
    height: 15rem;
    width: 12rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
  }

  & p {
    @include button-de-compra();
  }

  @include mq-md {

    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

    &-h2 {
      grid-column: span 3;
    }

    &-sombrero {
      grid-column: 1;
      grid-row: 2;
    }

    &-carteras {
      grid-column: 2;
      grid-row: 2;
    }

    &-ropa {
      grid-column: 3;
      grid-row: 2;
    }

    & div p:hover {
      filter: brightness(150%);
    }
  }
}