.nosotros-title,
.ropa-a-mano-texto,
.como-empezo,
.descubrir-mas-nosotros,
.descubrir-mas-haciendo-la-ropa {
  margin-bottom: 2.5rem;
  padding: 0.5rem;
}

.main-nosotros {

  & .nosotros-title {
    background-image: url(../img/lugar5.jpg);
    background-position: 31% 50%;
    font-family: $ff-couriernew;
    color: #eee;
    @include header-img();

    & h1 {
      font-size: 3.5rem;
      font-weight: 700;

      @include mq-xl {
        margin: 2.7rem auto;
      }
    }
  }

  & h2,
  h3 {
    text-align: center;
  }

  & span {
    @include flex-column();
    align-items: center;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
}


.ropa-a-mano {
  @include flex-column();
  align-items: center;
  margin: 1rem;

  &-div {

    & img {
      display: flex;
      margin: 0 auto;
      max-height: 400px;
      max-width: 100%;
      border: #eee 1px solid;
      border-radius: 5px;
      padding: 0.1rem;
    }
  }

  @include mq-md {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    line-height: 1.6rem;
    margin: 0 auto;
    gap: 1rem;

    &-div {
      max-width: 100%;

      & img {
        max-width: fit-content;
      }
    }

    &-texto p {
      font-size: 0.9rem;
    }
  }
}

.como-empezo {

  @include mq-md {

    & iframe {
      display: flex;
      margin: 0.5rem auto;
    }
  }

  @include mq-xl {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    margin: 6rem auto;
    background-color: $second-bg-color;

    > :nth-child(odd) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > :nth-child(0n+1) {
      align-items: start;
      font-size: 3rem;
    }

  }
}

.div-nosotros {
  line-height: 0;
  margin-bottom: 1rem;
  text-align: center;

  & a strong {
    display: inline-block;
    color: rgb(213, 255, 96);

    &:hover {
      filter: brightness(95%);
      transform: scale(1.1);
    }
  }
}

.descubrir-mas {

  &-nosotros {
    & div {
      margin-bottom: 1.5rem;
      text-align: center;
      border: #eee 1px solid;
      border-radius: 1rem;
      border-top: none;
      padding: 2rem;
      margin: 2rem auto;
      max-width: 400px;
    }

    @include mq-md {

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      & img {
        max-height: 360px;
        cursor: pointer;
      }

      & span {
        text-align: start;
      }

      > :nth-child(0n+3) {
        grid-column: span 2;
        @include flex-column();
      }

      > :nth-child(n) {
        margin: 0.2rem auto;
      }
    }
  }

  &-haciendo-la-ropa {

    background-color: $second-bg-color;
    padding: .5rem;

    @include mq-md {

      & iframe {
        display: flex;
        margin: 1rem auto;
      }
    }

    @include mq-xl {
      width: 90%;
      border-radius: .5rem;
    }
  }

  @include mq-xl {
    @include flex-column();
    border: white 1px solid;
    border-top: none;
    margin-bottom: 3rem;

    & img {
      border-radius: 10px;
    }

    &-nosotros {
      display: flex;

      & div {
        border: none;
      }
    }
  }
}