.main-novedades {
  text-align: center;

  & img {
    width: 100%;
  }

  & h2 {
    font-weight: 600;
    text-shadow: 1px 1px #eeeeee79;
  }
}

.novedades1,
.lo-nuevo,
.novedades-col-v-2023,
.ultimas-novedades {
  margin-bottom: 2.5rem;
}

.novedades1 {
  background-image: url(../img/womanhorizontal.jpg);
  background-position: 70% 50%;
  font-family: $ff-couriernew;
  @include header-img($flex-direction: column);

  &-h1 {
    font-weight: 900;
    font-size: 3.5em;
    color: #eaf7ff;
  }

  &-undertitle {
    font-weight: 600;
    font-style: italic;
    line-height: 0;
  }
}

.lo-nuevo {
  padding: 1rem;

  & iframe,
  &-col-v-2023 img {
    border-radius: 10px;
    border: white 1px solid;
    padding: 0.2rem;
  }

  & span {
    @include flex-column();
    font-size: 0.85rem;
  }

  @include mq-md {
    padding: 1rem;
    max-width: 768px;
    @include flex-column();
    justify-content: center;
    margin: 0 auto;
  }

  @include mq-xl {

    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    max-width: 1200px;


    & .iframe-span {
      line-height: .4rem;
    }

    &-col-v-2023 img {
      width: 645px;
      height: 400px;
    }
  }
}


.ultimas-novedades {
  text-align: start;
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;

  #email {
    padding: .7rem;
    margin: .3rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.078);
    max-width: 100%;
    background-color: $main-bg-color;
    color: #eee;
    border: none;

    &:focus {
      box-shadow: 0 0px 8px 1px rgba(255, 255, 255, 0.356);
    }

    &::placeholder {
      color: #eee;
      opacity: 0.93;
    }
  }


  &-btn {
    background-color: $main-bg-color;
    display: inline-block;
    border: 1px white solid;
    border-radius: .8rem;
    padding: 0.3rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
    transition: .4s;

    &:hover {
      transform: scale(1.08);
      color: $second-bg-color;
      background-color: #faf9f9;
      border: none;
    }
  }

  @include mq-md {
    @include flex-column();
    align-items: center;
    width: fit-content;
    padding: 1rem;
    border: #eee solid 1px;
    text-align: start;
    margin: 2rem auto;
    border-radius: 10px;
  }
}