header {
  border-bottom: 1px solid rgb(112, 128, 156);
  background-color: #eaf7ff;

  & nav {
    max-width: 100%;
  }

  & div {
    flex-direction: row-reverse;

    & a img {
      height: 55px;
      width: 55px;
    }
  }

  & .btn-navbar {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30%;
  }

  @include mq-md {
    div {
      flex-direction: row;
    }

    .items-navbar {
      color: #0b0f11;
      margin: 1rem;

      &:hover {
        background: #eee;
        color: black;
        border-radius: 25px;
      }
    }
  }
}